header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}