.about-text {
    width: 60%;    
    padding-top: 120px;
}

.digi-text {
    color: #848484;
    font-size: 24px;
    font-weight: 100;    
}

.text-detail {
    color: #848484;
    font-size: 24px;
    font-weight: bold;
}