.Section-Choose-Us {
    background-color: #D5963D;    
    height: 200px;
    min-width: 1000px;
}

.Section-Choose-Us-Container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.Section-Choose-Us-Image {  
    position: absolute;
    top: -140px;
    left: 50px;
    width: 500px;
}

.Section-Choose-Us-Text {
    position: absolute;
    width: 300px;        
    background-color: #A5410F;
    padding: 60px 40px;
    color: white;
    position: absolute;
    top: -170px;
    right: 0;
}

.Section-Choose-Us h5 {
    font-size: 38px;
    text-align: center;
    margin: 0;    
}

.Section-Choose-Us p {
    font-size: 20px;
    font-weight: 300;
}