header {
    position: absolute;
    top: 0;
    width: 100%;    
}

nav {   
    height: 100px;    
    background-color: #2274A5;    
    display: flex;
    justify-content: center;
    align-items: center;
}