nav {
    padding: 40px 0;
    text-align: center;    
    background-color: rgb(15, 84, 142);
}

.link {    
    padding-left: 40px;
    text-decoration: 0;
    color: white;
    font-size: 25px;    
}