.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column;
}

.card-image {
    width: 100%;
    height: 234px;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

.card-price {
    margin-top: auto;
}